body {
    background-color: palegoldenrod;
    font-weight: bold;
}

.game {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.game-title {
    width: 90%;
    font-size: 24px;
    text-align: center;
    color: darkslategray;
    border-bottom: solid 1px darkslategray;
}

.game-message {
    font-size: 24px;
    padding-top: 16px;
}

.game-board {
    padding-top: 16px;
    padding-bottom: 32px;
}

.game-board div {
    display: flex;
}

.game-board .cell {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: 2px;
    border: 2px solid darkslategray;
}

.grey-overlay {
    background-color: darkslategray;
}

.yellow-overlay {
    background-color: yellow;
}

.green-overlay {
    background-color: green;
}
